<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Scrapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Scrapper.Properties.Settings>
            <setting name="aplicatie" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="scripturi" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="testul_1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="testul_2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="testul_3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BETA" serializeAs="String">
                <value>0</value>
            </setting>
        </Scrapper.Properties.Settings>
    </userSettings>
</configuration>